body {
	font-family: Arial, sans-serif;
	text-align: center;
	margin: 5px;
}

h1 {
	color: #333;
}

.todo-container {
	margin-top: 20px;
}

#todo-form {
	display: flex;
	justify-content: center;
	align-items: center;
}

#task-input {
	width: 24%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

#task-list {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
}

button {
	background-color: #009432;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	margin-left: 10px;
	cursor: pointer;
	font-size: 16px;
}

ul {
	list-style-type: none;
	padding: 0;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 5px 0;
	padding: 10px;

	max-width: 100%;
}

li span {
	line-height: 50px;

	max-width: 100%;
}
li button {
	background-color: red;
	color: white;
	border: none;
	border-bottom: 2px solid #000;
	padding: 16px;
	font-size: 24px;
	font-weight: bold;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 14px;
}

.completed-task {
	text-decoration: line-through;
}
